<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="QuanLyBanSachEntities" connectionString="metadata=res://*/BanSach.csdl|res://*/BanSach.ssdl|res://*/BanSach.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THUAN-PC\SQLEXPRESS;initial catalog=QuanLyBanSach;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GUI.Properties.Settings.QuanLyBanSachConnectionString"
      connectionString="Data Source=THUAN-PC\SQLEXPRESS;Initial Catalog=QuanLyBanSach;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>